/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0078d4;
  --ifm-color-primary-dark: #006cbe;
  --ifm-color-primary-darker: #0066b3;
  --ifm-color-primary-darkest: #005494;
  --ifm-color-primary-light: #1a86d8;
  --ifm-color-primary-lighter: #2690dc;
  --ifm-color-primary-lightest: #4da3e3;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1a86d8;
  --ifm-color-primary-dark: #0678ca;
  --ifm-color-primary-darker: #0672bf;
  --ifm-color-primary-darkest: #055e9d;
  --ifm-color-primary-light: #2e94dc;
  --ifm-color-primary-lighter: #399ae0;
  --ifm-color-primary-lightest: #5aade6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
